<div class="container">
  <div class="pt-5">

    <div class="alert alert-danger" *ngIf="errorMessage">
      {{errorMessage}}
    </div>

    <div class="card">
      <div class="card-header">

        <div class="row">
          <div class="col-6">
            <h3>User Details</h3>
          </div>
          <div class="col-6 text-end">
            Current role is <strong>{{currentUser?.role}} </strong>
            <button class="btn btn-primary" (click)="changeRole()">Change Role</button>
          </div>
        </div>

      </div>
      <div class="card-body">
        <p><strong>Name: </strong> {{currentUser?.name}}</p>
        <p><strong>Surname: </strong> {{currentUser?.surName}}</p>
        <p><strong>Email: </strong> {{currentUser?.email}}</p>
        <p><strong>Fiscal Code: </strong> {{currentUser?.codiceFiscale}}</p>
      </div>
    </div>

  </div>
</div>
